NODE_ENV=dev
PORT=3333

#auth
JWT_SECRET=keyPontoSeguroApi

# nome do projeto para o container do docker
COMPOSE_PROJECT_NAME=ponto_seguro_api

# variaveis para o compose(database)
DB_USER=docker
DB_PASSWORD=docker
DB_NAME=ponto_seguro_db

# string de conexão do prisma com database
DATABASE_URL=postgresql://docker:docker@localhost:5432/ponto_seguro_db?schema=public
